apiVersion: apps/v1
kind: Deployment
metadata:
  name: posts-deployment
spec:
  selector:
    matchLabels:
      app: posts
  replicas: 1
  template:
    metadata:
      labels:
        app: posts
    spec:
      containers:
        - name: posts
          image: posts-image
          imagePullPolicy: Never
          ports:
            - containerPort: 4000
          env:
            - name: EVENT_BUS_URL
              value: "http://event-bus-service:4005/events"